body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    /* color: #FFFFFF; */
}

.header {
    width: 100%;
    height: 13%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}

.heading {
    width: auto;
    /* border: 1px solid; */
    margin: auto ;
    margin-top: -15px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.heading h1 {
    font-size: 50px;
   
}

.main {
    margin: 15px auto;
    width: 60%;
    height: 80%;
    /* border: 1px solid black; */
    box-shadow: 0 0px 8px 0 rgba(0,0,0,0.4);

}

.summary-body {
    width: 100%;
    margin: auto;
    padding: 10px;
    height: 90%;
    /* box-shadow: 0 0px 8px 0 rgba(0,0,0,0.4); */
    /* border: 1px solid black; */
}

.tabs {
    width: 100%;
    margin: 10px auto;
    height: auto;
    background: #F7F7F9
    /* border-bottom: 1px solid blue; */
}

textarea {
    height: 90%;
    width: 75%;
    margin: auto;
    display: block;
}

.submit {
    margin: auto;   
    display: block;
    background-color: #008CBA;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 6px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 0;
    color: #FFFFFF;
    margin-top: -7px;
}

.submit:hover {
    opacity: 0.9;
}

.result-inner {
    height: 90%;
    width: 75%;
    margin: auto;
    display: block;
}

.result {
    color: #000000;
    display: inline-block;
}

#url-result {
    display: block;
    max-height: 80%;
    overflow-y: auto;
}

input[type="url"] {
    width: 90%;
}