<html>
  <head>
		<title>TL;DR</title>
		<!-- href="{{ url_for('static', filename='css/index.css') }}" -->
		<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/index2.css" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index2.css') }}" />
	</head>

	<body>
		<div class="header">
			<div class="heading">
				<a href="/"><h1>TL;DR</h1></a>
			</div>
		</div>
		<div class="main">
			<div class="tab-header">
				<div class="tabs">
					<ul class="nav nav-pills nav-fill">
    				<li class="active"><a href="#copy">Copy/Paste</a></li>
    				<li><a href="#url">URL</a></li>
    				<li><a href="#upload">Upload</a></li>
					</ul>
				</div>
				<div class="size">
					Summarize in <input type="number" class="len s" name="copy-size" min="3" max="30" style="width:40px;" value="7" form="copy-form" /> 
					<input type="number" name="url-size" class="len" min="3" max="30" style="width:40px;" value="7" form="url-form" />
					<input type="number" name="upload-size" class="len" min="3" max="30" style="width:40px;" value="7" form="upload-form" /> sentences
				</div>
			</div>

			<div class="tab-content">
				<div id="copy" class="tab-pane fade in active">
					<div class="summary-body">
						<form method="POST" id="copy-form">
							<textarea name="text" placeholder="Enter text here" required></textarea><br />
							<input type="submit" name="submit" class="submit" value="Summarize" />
						</form>
					</div>
					
				</div>
				
				<div id="url" class="tab-pane fade">
					<div class="summary-body">
						<div class="url">
							<form method="POST" id="url-form">
								<center>
									<label>URL: </label>
									<input type="url" name="url" id="url" required />
									<div class="show-user">
										<h2 id="url-title"></h2>
										<p id="url-result"></p>
									</div>
								</center>
								<input type="submit" class="submit" value="Summarize" />
							</form>
						</div>
					</div>
				</div>
				
				<div id="upload" class="tab-pane fade">
					<div class="summary-body">
						<div class="upload">
							<form method="POST" enctype="multipart/form-data" id="upload-form">
								<center>
									<input type="text" name="placeholder" style="display: none;" />
									<input type="file" name="file" id="file" required />
									<br />
									<div class="show-user">
										<p id="show-file"></p>
									</div>
								</center>
								<input type="submit" class="submit" value="Summarize" />
							</form>
						</div>
						
					</div>
				</div>	
			</div>

			
		</div>

		{% with messages = get_flashed_messages() %}
      {% if messages %}
       	{% for message in messages %}
					<div class="alert alert-warning alert-dismissible" role="alert">
           	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            	{{message}}
          </div>
       	{% endfor %}
      {% endif %}
    {% endwith %}

		<script type="text/javascript">
			$(document).ready(function(){
				$(".nav-pills a").click(function(){
					$(this).tab('show');
					var val = $(this).text();
					console.log(val);

					if (val == "Copy/Paste") {
						$('input[name="copy-size"]').addClass('s');
						$('input[name="url-size"]').removeClass('s');
						$('input[name="upload-size"]').removeClass('s');
					} else if (val == "URL") {
						$('input[name="copy-size"]').removeClass('s');
						$('input[name="url-size"]').addClass('s');
						$('input[name="upload-size"]').removeClass('s');
					} else if (val == "Upload") {
						$('input[name="copy-size"]').removeClass('s');
						$('input[name="url-size"]').removeClass('s');
						$('input[name="upload-size"]').addClass('s');
					}
				});
			});
		</script>

		<script type="text/javascript">
			$(function() {
			  $('#url').change(function() {
					$.getJSON('/_show_url_content', {
				  	url: $('input[name="url"]').val(),
					}, function(data) {
					$("#url-title").text(data.title);
				  $("#url-result").text(data.result);
				});
				return false;
			  });
			});
		</script>

		<!-- <script type="text/javascript">
			$(function() {
				
			  $('input[name="file"]').change(function() {
					var val = $('input[name=file]').val();
					console.log(val);
					var file_name = val.replace("C:\\fakepath\\", "")
					console.log(file_name)
					$.getJSON('/_show_file_content', {
				  	url: file_name,
					}, function(data) {
					$("#show-file").text(data.result);
				});
				console.log("Not happening");
				return false;
			  });
			});
		</script> -->



	</body>
</html>